In [2]:
import pandas as pd
import numpy as np

In [17]:
population = {'California': 38332521,
               'Texas': 26448193,
               'New York': 19651127,
               'Florida': 19552860,
               'Illinois': 12882135}
area = {'California': 423967,
        'Texas': 695662,
        'New York': 141297,
        'Florida': 170312,
        'Illinois': 149995}

In [4]:
data = np.arange(10)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
series = pd.Series(data)
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
#Obteniendo array de numpy
series.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
series.index

RangeIndex(start=0, stop=10, step=1)

In [9]:
series[1:3]

1    1
2    2
dtype: int64

In [10]:
data = pd.Series([1,2,3,4],index=['a','b','c','d'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
population = {'California': 38332521,
               'Texas': 26448193,
               'New York': 19651127,
               'Florida': 19552860,
               'Illinois': 12882135}

population = pd.Series(population)

population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

In [13]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [14]:
tuple = pd.Series((1,2,3,4,5))
tuple

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
data = pd.Series(population,index=['Texas','Florida'])
data

Texas      26448193
Florida    19552860
dtype: int64

In [35]:
dataframe = pd.DataFrame(population,index=['population'])
dataframe

            California     Texas  New York   Florida  Illinois
population    38332521  26448193  19651127  19552860  12882135

In [37]:
dataframe = pd.DataFrame(pd.Series(population),columns=['population'])
dataframe

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [27]:
dataframe = pd.DataFrame({'population':population,'area':area})
dataframe

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [28]:
dataframe.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [29]:
dataframe.columns

Index(['population', 'area'], dtype='object')

In [30]:
dataframe.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [31]:
dataframe['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [38]:
a = [{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]

pd.DataFrame(a)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [41]:
pd.DataFrame([[1,2],[3,4]],index=['Numero 1','Numero 2'],columns=['Population','Area'])

          Population  Area
Numero 1           1     2
Numero 2           3     4

In [3]:
ind = pd.Index([2,3,4,5])

In [4]:
ind[1]

3

In [5]:
ind[::2]

Int64Index([2, 4], dtype='int64')

In [6]:
print(ind.size,ind.shape,ind.dtype)

4 (4,) int64

In [7]:
ind[1] = 10

TypeError: Index does not support mutable operations

In [8]:
data = pd.Series([1,2,3,4],index=['a','b','c','d'])

In [9]:
data['a']

1

In [10]:
data

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
'a' in data

True

In [16]:
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [17]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [22]:
data = pd.Series(np.random.randint(1,50,50))
data

0     12
1     15
2     37
3     30
4     40
5     36
6     31
7      2
8     10
9     46
10    29
11     1
12    32
13    14
14    20
15    33
16    38
17    37
18    30
19    34
20    22
21    28
22    11
23    29
24    45
25    42
26    27
27    44
28    20
29     2
30    27
31    31
32    14
33    38
34    33
35    18
36    14
37    17
38    19
39    12
40     3
41    47
42    28
43    25
44    35
45     9
46     6
47    30
48     3
49    17
dtype: int64

In [23]:
data[(data>=13) & (data<=20)]

1     15
13    14
14    20
28    20
32    14
35    18
36    14
37    17
38    19
49    17
dtype: int64

In [24]:
# Fancy indexing
data[[36,38]]

36    14
38    19
dtype: int64

In [ ]:
data[['Mexico','Colombia']]